{{ if .Site.Params.Utterances.repo }}
    <script>
        var colorScheme;

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            colorScheme = 'dark';
        } else {
            colorScheme = 'light';
        }
    </script>
    <script>
        var themeValue = (colorScheme === 'dark') ? 'github-dark' : 'github-light';

        var script = document.createElement('script');
        script.src = 'https://utteranc.es/client.js';
        script.setAttribute('repo', '{{ .Site.Params.Utterances.repo }}');
        script.setAttribute('issue-term', 'pathname');
        script.setAttribute('theme', themeValue);
        script.setAttribute('crossorigin', 'anonymous');
        script.async = true;

        document.body.appendChild(script);

    </script>
{{ end }}
