html::-webkit-scrollbar { /* 隐藏滚动条 */
    width: 0px;
}

/*网站元素颜色*/

:root {
    --body-background-color: #e3e6e4;
    --site-title-color: #444444;
    --site-title-color-hover: #222222;
    --link-color: #77969A;
    --link-color-hover: #268785;
    --code-block-background-color: #cccccc;
    --tag-color: #999999;
    --tag-background-hover: #777777;
    --code-background-color: #92cac9;
    --table-border-color: #000000;
    --table-td-border-color: #dbdbdb;
    --table-tr-odd-background-color: #efefee;
    --table-tr-even-background-color: #fafafc;
    --mark-background-color: #ffff00;
    --toc-color: #77969A;
    --toc-active-color: #268785;
    --index-summary-color: #444444;
    --search-input-background-color: #cccccc;
    --tags-page-number-color: #b0b0b0;
    --menu-link-color: #31777a;
    --language-switcher-option-background: #f8f8f8;
    --language-switcher-option-background-checked: #e9e9e9;
    --language-switcher-option-color: #333;
}

/*暗色模式*/

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #141414;
        --site-title-color: #f5f5f5;
        --site-title-color-hover: #d9d9d9;
        --code-block-background-color: #2b2b2b;
        --code-background-color: #6a8f8f;
        --table-border-color: #ffffff;
        --table-td-border-color: #242424;
        --table-tr-odd-background-color: #101011;
        --table-tr-even-background-color: #050503;
        --mark-background-color: #b8b800;
        --search-input-background-color: #2b2b2b;
        --menu-link-color: #78C2C4;
    }

    img {
        filter: brightness(0.8) contrast(1.2);
    }
}

/*长条屏幕不显示TOC*/

@media screen and (max-aspect-ratio: 1.4) {
    .toc {
        display: none;
    }
}

/*整体布局*/
.wrapper {
    display: flex;
    justify-content: space-between;
}

.main{
    background-color: var(--body-background-color);
    font-family: "Noto Serif SC", sans-serif;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    font-weight: 500;
    --duration: 1s;
    --timing: ease-in-out;
    transition: background-color var(--duration);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body{
    background-color: var(--body-background-color);
    --duration: 1s;
    --timing: ease-in-out;
    transition: background-color var(--duration);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
    }
}

/* 改善移动端浏览体验 */

@media screen and (max-aspect-ratio: 0.7) {
    .main {
        width: 85%;
    }
}

/*标题样式*/

.site-title {
    display: inline-block;
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 2rem;
    color: var(--site-title-color);
    transition: all 0.5s;
}

.site-title:hover {
    color: var(--body-background-color);
    background-color: var(--site-title-color-hover);
}

.site-subtitle {
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--site-title-color);
    transition: all 0.5s;
}

.site-subtitle:hover {
    color: var(--body-background-color);
    background-color: var(--site-title-color-hover);
}

.title-block {
    margin-top: 5%;
}

/* 标签样式 */
a {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: var(--body-background-color);
    background-color: var(--link-color-hover);
}

/* 顶部菜单样式 */
.menu {
    display: flex;
    list-style: none;
    margin: -10px 0 -10px -10px;
    padding: 0;
}


.menu li {
    text-align: left;
    background-color: transparent;
    padding: 10px;
}

/* 定义菜单项的链接的样式 */
.menu li a {
    text-decoration: none;
    color: var(--menu-link-color);
    margin-right: 15px;
}

.menu li a:hover {
    background-color: var(--menu-link-color);
    color: var(--body-background-color);
}

/* 定义菜单的按钮的样式 */
.menu-button {
    display: none;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--body-background-color);
    border: none;
    cursor: pointer;
    appearance: none;
    color: var(--link-color);
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

/* 定义菜单的按钮的悬停效果 */
.menu-button:hover {
    background-color: var(--body-background-color);
}

/* 定义菜单的按钮的图标的样式 */
.menu-button::before {
    color: var(--link-color);
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

/* 定义菜单的按钮的激活状态的样式 */
.menu-button:active {
    background-color: transparent;
}

/* 使用媒体查询在网页宽度小于600px时改变菜单的样式 */
@media screen and (max-width: 720px) {

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--search-input-background-color);
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: 1s ease-in-out;
    }

    .menu-button:checked ~ .menu {
        max-height: 500px;
    }

    .menu li {
        display: none;
        text-align: center;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        line-height: 50px;
        box-sizing: border-box;
    }

    .menu li a {
        display: block;
        width: 100%;
        height: 50px;
    }

    .menu li a:hover {
        background-color: var(--body-background-color);
        color: var(--link-color-hover);
    }

    /* 显示菜单的按钮 */
    .menu-button {
        background-color: transparent;
        display: block;
        margin-top: 5px;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    /* 当菜单的按钮被点击时，显示所有的菜单项 */
    .menu-button:checked ~ .menu li {
        display: block;
        animation: fadeIn 1s ease-in-out;
    }
}

/*首页展示文章样式*/

.index-post {
    background-color: transparent;
}

.index-summary {
    color: var(--index-summary-color);
}

/*标签样式*/

.tags , .up-time {
    font-weight: 500;
    color: var(--tag-color);
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1px 4px;
    border-radius: 3px;
    --duration: 0.5s;
    --timing: ease-in-out;
    transition: all var(--duration);
}

.tags:hover {
    background-color: var(--tag-background-hover);
}

.up-time:hover {
    background-color: var(--tag-background-hover);
}

/*表格样式*/

table {
    border-collapse: collapse;
    border-top: 2px solid var(--table-border-color);
    border-bottom: 2px solid var(--table-border-color);
    border-right: 1px solid var(--table-td-border-color);
    border-spacing: 0px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

table tr:nth-child(odd) td {
    background-color: var(--table-tr-odd-background-color);
}

table tr:nth-child(even) td {
    background-color: var(--table-tr-even-background-color);
}

td {
    border-left: 1px solid var(--table-td-border-color);
    border-bottom: 1px solid var(--table-td-border-color);
    padding: 4px 8px 4px 10px;
    line-height: 1.1;
}

th {
    border-left: 1px solid var(--table-td-border-color);
    border-bottom: 1.5px solid var(--table-border-color);
    padding: 4px 8px 4px 10px;
    line-height: 1.1;
}

.post {
    margin-top: -10px;
}

.post-link {
    font-size: 24px;
}

.post-title{
    display: inline-block;
    width: auto;
    height: auto;
    color: var(--table-border-color);
    font-size: 30px;
    font-weight: 900;
    transition: all 0.5s;
}

.post-title:hover{
    color: var(--body-background-color);
    background-color: var(--site-title-color-hover);
}

.post-date{
    color: var(--site-title-color);
}

/*代码块样式*/

pre {
    background-color: var(--code-block-background-color);
    padding: 10px;
    overflow-x: auto;
}

p > code {
    background-color: var(--code-background-color);
    border-radius: 3px;
    padding: 1px 4px;
}

pre code , code {
    font-family: 'Fira Code', Consolas, Monaco, monospace;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
}

kbd {
    font-weight: 700;
}

.highlight .linenos, .highlight .code {
    padding: 0;
    border: none;
}

.highlight .linenodiv {
    padding-right: 0.5em;
}

.highlight table > tbody > tr > td {
    background-color: #272823;  /* 这里需要修改 原为var(--body-background-color) */
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

/*TOC样式*/
.toc {
    position: fixed;
    top: 20%;
    right: 1.5%;
    width: 200px;
    padding: 10px;
    line-height: 20px;
}

.toc h2 {
    font-size: 18px;
    text-align: center;
}

.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toc li {
    margin-bottom: 5px;
}

.toc a {
    color: var(--toc-color);
    font-size: smaller;
    text-decoration: none;
}

.toc a:hover {
    color: var(--body-background-color);
}

.toc a.active {
    color: var(--toc-active-color);
    font-size: medium;
    font-weight: 700;
}

img {
    max-width: 65%;
    max-height: 500px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}

mark {
    background-color: var(--mark-background-color);
}

#search-input {
    width: 100%;
    max-width: 800px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--search-input-background-color);
    border: 1px solid transparent;
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.tag-page {
    font-size: 18px;
}

a span {
    color: var(--tags-page-number-color);
    font-size: 13px;
    vertical-align: top;
}

.page-arrow {
    color: var(--link-color);
}

/* 页脚一言样式 */
#onetext {
    font-size: 16px;
    color: var(--link-color);
    margin-top: 20px;
}

#onetext:hover {
    color: var(--body-background-color);
}

.copyright {
    display: inline-block;
    color: var(--site-title-color);
    transition: all 0.5s;
}

.copyright:hover {
    color: var(--body-background-color);
}

.more-meta {
    color: var(--tag-color);
}

select {
    font-size: 16px;
    font-family: "Noto Serif SC", sans-serif;
    font-weight: 700;
    color: var(--menu-link-color);
    background-color: transparent;
    border: 0px;
    padding: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --duration: 1s;
    --timing: ease-in-out;
    transition: background-color var(--duration);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.5s;
}

select:hover {
    color: var(--body-background-color);
}

#languageSwitcher option {
    background-color: var(--language-switcher-option-background);
    color: var(--language-switcher-option-color);
}

#languageSwitcher option:checked {
    background-color: var(--language-switcher-option-background-checked); /* 被选中的选项的背景颜色 */
}