<header>
    <div class="title-block">
        <div class="site-title" onclick="window.open('{{ .Site.BaseURL }}','_self')">{{ i18n "title" }}</div>
        <br>
        <div class="site-subtitle">{{ i18n "subtitle" }}</div>
    </div>
    <br>
    <div>
        <input type="checkbox" id="menu-button" class="menu-button" />
        <ul class="menu">
            <li>
                {{ range.Site.Menus.main }}
                <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
                {{ end }}
            </li>
        </ul>
        <label for="menu-button" class="menu-button">☰</label>
    </div>
</header>